<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Add yourself to the Map <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="username">Name <span class="badge"></span></label>
                    <input type="text" class="form-control" id="username" placeholder="Shaun Riley " ng-model="formData.username" required>
                </div>
                <label class="radio control-label">Gender</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
                        Male
                    </label>
                </div>
                <div class="radio" required>
                    <label>
                        <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
                        Female
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radioother" value="What's it to ya?" ng-model="formData.gender">
                        What's it to ya?
                    </label>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age" placeholder="42" ng-model="formData.age">
                </div>
                <div class="form-group">
                    <label for="profession">Former profession</label>
                    <input type="profession" class="form-control" id="profession" placeholder="electronics salesman" ng-model="formData.profession" required>
                </div>
                    <div class="form-group">
                    <label for="party">Number of people in party</label>
                    <input type="number" class="form-control" id="party" placeholder="1" ng-model="formData.party" required>
                </div>
                <div class="form-group">
                    <label for="weapons">Weapons in possesion</label>
                    <input type="text" class="form-control" id="weapons" placeholder="Baseball Bat" ng-model="formData.weapons">
                </div>
                    <div class="form-group">
                    <label for="vehicles">Modified vehicles in possesion</label>
                    <input type="text" class="form-control" id="vehicles" placeholder="Armored Bulldozer" ng-model="formData.vehicles">
                </div>
                <label class="radio control-label">Fortified hideout?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radioyes" value="yes" ng-model="formData.hideout">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radiono" value="no" ng-model="formData.hideout">
                        No
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radioother" value="Not saying" ng-model="formData.hideout">
                        Not saying
                    </label>
                </div>
                <div class="form-group">
                    <label for="supplies">Food/Medical supplies in possesion?</label>
                    <input type="text" class="form-control" id="supplies" placeholder="Pallet of Hotpockets" ng-model="formData.supplies">
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude">
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude">
                </div>
                <div class="form-group">
                    <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                    <label for="verified">Set current location <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="formData.htmlverified" readonly>
                </div>

                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>